extends layout

block content
    h1.
        Comic Strips Test Database
    ul
        each comic, i in comiclist


            li= comic.author
            li= comic.title
            img(src=comic.image)
            li= comic.tag1
            li= comic.tag2
            li= comic.tag3
            li= comic.tag4
            li= comic._id
            br
            br
            br
