doctype html
//
  http://www.dynamicdrive.com/forums/entry.php?293-3-Ways-to-Resize-Scale-Web-Images-in-Responsive-Design
  http://alijafarian.com/responsive-image-grids-using-css/
  !
html
  head
    title Home
    style.
      body{
      background-color: grey;
      }
      #banner {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      width: 100%;
      height: 200px;
      z-index: -1;
      }
      #navbar {
      position: absolute;
      top: 200px;
      left: 0px;
      right: 0px;
      width: 100%;
      z-index: -1;
      }
      #navbar ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      }
      #navbar li{
      float: left;
      border-right:1px solid #bbb;
      }
      #navbar li:last-child{
      border-right: none;
      }
      #navbar li a{
      display:block;
      color:white;
      text-align: center;
      padding: 15px 15px;
      text-decoration: none;
      }
      #navbar li a:hover{
      background-color:#111;
      }
      .title{
      position: absolute;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%,-50%);
      top: 285px;
      z-index: -1;
      }
      .fixed-ratio-resize { /* basic responsive img */
      max-width: 25%;
      height: auto;
      width: auto\9; /* IE8 */
      }
      ul.image_grid {
      list-style: none;
      font-size: 0px;
      margin-left: -2.5%; /* should match li left margin */
      position:absolute;
      top: 400px;
      left: -40px;
      }
      ul.image_grid li {
      display: inline-block;
      padding: 10px;
      margin: 0 0 2.5% 2.5%;
      background: #fff;
      border: 1px solid #ddd;
      font-size: 16px;
      font-size: 1rem;
      vertical-align: top;
      box-shadow: 0 0 5px #ddd;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      }
      ul.image_grid li img {
      max-width: 100%;
      height: auto;
      margin: 0 0 10px;
      }
      ul.image_grid li h3 {
      margin: 0 0 5px;
      }
      ul.image_grid li p {
      font-size: .9em;
      line-height: 1.5em;
      color: #999;
      }
      ul.image_grid.columns-3 li {
      width: 30.83%; /* this value + 2.5 should = 33% */
      }
      .prev {
      position: absolute;
      left: 20px;
      top: 340px;
      overflow:hidden
      float: left;
      color: black;
      }
      .next {
      position: absolute;
      right: 20px;
      top: 340px;
      overflow:hidden
      float: right;
      color: black;
      }
      #login_box {
      width:300px;
      height:100px;
      position:absolute;
      top:25%;
      left:25%;
      margin:-50px 0 0 -150px; /* [-(height/2)px 0 0 -(width/2)px] */
      padding: 10px;
      display:none;
      z-index: 100;
      background-color: lightgrey
      }
      #test{
      width:50%;
      position:absolute;
      top:1000px;
      left:25%;
      }
  body

    img#banner(src='header.jpg', alt='Header Image')
    #navbar
      ul
        li
          a(href='javascript:void(0);') Home
        li
          if user
            a#bttnacclogin(href='javascript:void(0);', style='display:none') Account
            a#bttnaccount(href='/upload') #{user.username}
          else
            a#bttnacclogin(href='javascript:void(0);') Account
            a#bttnaccount(href='javascript:void(0);', style='display:none') Account
          li
            if user
              a(href='/upload') Uploads
          li
            if user
              a(href='/publish') Publish
            li
              if user
                a(href='/signout') Log Out
        // Add links here!
        ul(style='float:right; padding: 15px 15px;')
          li
            input(type='search', value='Search')


    #login_box
      form(action='/login', accept-charset='utf-8', method='POST')
        fieldset
          legend Login:
          |               Username:
          input(type='text', name='username', placeholder='Username',required, autofocus)
          br
          |               Password:
          input(type='password', name='password', placeholder='Password', required)
          br
          input#bttnlogin(type='submit', value='Log In')
          input#bttncancel_login(type='button', value='Cancel')
        a(href='/signup') Create an account
    h1.title(allign='center') Collaborative Comics

    -var placeholder = "http://res.cloudinary.com/namehere/image/upload/v1456772897/placeholder_sgsh4n.png"
    a#bttnprev.prev(title="Previous", href="javascript:void(0);", onclick="Prev(0); return false;") Previous
    a#bttnnexxt.next(title="Next", href="javascript:void(0);", onclick="Next(0); return false;") Next
    ul.image_grid.columns-3
      li
        a#link1(href='')
          img#img1.fixed-ratio-resize(src=placeholder, alt='1')
        h3#ttl1 Title
        p#auth1 Author(s)
      li
        a#link2(href='')
          img#img2.fixed-ratio-resize(src=placeholder, alt='2')
        h3#ttl2 Title
        p#auth2 Author(s)
      li
        a#link3(href='')
          img#img3.fixed-ratio-resize(src=placeholder, alt='3')
        h3#ttl3 Title
        p#auth3 Author(s)
      li
        a#link4(href='')
          img#img4.fixed-ratio-resize(src=placeholder, alt='4')
        h3#ttl4 Title
        p#auth4 Author(s)
      li
        a#link5(href='')
          img#img5.fixed-ratio-resize(src=placeholder, alt='5')
        h3#ttl5 Title
        p#auth5 Author(s)
      li
        a#link6(href='')
          img#img6.fixed-ratio-resize(src=placeholder, alt='6')
        h3#ttl6 Title
        p#auth6 Author(s)

      br
      br

    script.
      var Image_Browser = (function () {
          function Image_Browser() {
              this.i = 0;
              this.comics = [];
          }
          Image_Browser.prototype.Load = function () {
              for (var n = 0; n < 6; n++) {
                  console.log(n + " : " + this.comics);
                  var link = "link" + (n + 1).toString();
                  var linkEl = document.getElementById(link);
                  var img = "img" + (n + 1).toString();
                  var imgEl = document.getElementById(img);
                  var ttl = "ttl" + (n + 1).toString();
                  var auth = "auth" + (n + 1).toString();
                  if (this.i + n >= this.comics.length){
                      console.log("fail" + this.comics.length);
                      console.log(this.comics)
                      linkEl.href = "";
                      imgEl.src = "http://res.cloudinary.com/namehere/image/upload/v1456772897/placeholder_sgsh4n.png";
                      document.getElementById(ttl).innerHTML = (this.i + n + 1).toString();
                      document.getElementById(auth).innerHTML = "Author";
                  }
                  else{
                    console.log("found comics: " + this.comics.length)
                    var c = (this.i + n)
                    var comic = this.comics[c];
                    console.log("getting comic " + c + " : ");
                    console.log(comic);
                    imgEl.src = comic.image;
                    document.getElementById(ttl).innerHTML = comic.title;
                    //var author = "";
                    //for(var m=0; m<this.comics[this.i].authors.length;m++){  //if
                    //  author = author + this.comics[this.i].authors[m];
                    //}
                    document.getElementById(auth).innerHTML = comic.author;
                    linkEl.href="/comic/" + comic._id; //make a default comic page, that loads given the ref id? and pass through the refid
                  }
              }
          };
          Image_Browser.prototype.Prev = function () {
              this.i = this.i - 6;
              if (this.i < 0) {
                  this.i = 0;
              }
              this.Load();
          };
          Image_Browser.prototype.Next = function () {
              if (this.comics.length >= this.i+6)
                this.i = this.i + 6;
                this.Load();
          };
          return Image_Browser;
        })();

        function Prev() {
            obj.Prev();
        }
        function Next() {
            obj.Next();
        }
        function Init(Comics) {
            console.log(Comics);
            if (obj) {
                obj.comics= Comics;
                obj.i = 0;
                obj.Load();
            }
            else {
                console.log("failed init");
            }
        }
        var login = document.getElementById('bttnlogin');
        var cancel_login = document.getElementById('bttncancel_login');
        var display = document.getElementById('bttnacclogin');
        var acc = document.getElementById('bttnaccount');
        var login_box = document.getElementById("login_box");
        var prev = document.getElementById('bttnprev');
        var next = document.getElementById('bttnnext');
        obj = new Image_Browser();
        cancel_login.onclick = function () {
            login_box.style.display = 'none';
        };
        display.onclick = function (req) {
            login_box.style.display = 'block';
        };
        acc.onclick = function () {
        };
        Init(!{comiclist});
