//
  http://www.dynamicdrive.com/forums/entry.php?293-3-Ways-to-Resize-Scale-Web-Images-in-Responsive-Design
  http://alijafarian.com/responsive-image-grids-using-css/
  !
extends layout
block title
  title Home

block content
  link(rel='stylesheet', href='/stylesheets/home_page.css')
  -var placeholder = "http://res.cloudinary.com/namehere/image/upload/v1456772897/placeholder_sgsh4n.png"

  div#home-wrapper
    h1.title(allign='center') Collaborative Comics

    a#bttnprev.prev(title="Previous", href="javascript:void(0);", onclick="Prev(0); return false;") Previous
    a#bttnnexxt.next(title="Next", href="javascript:void(0);", onclick="Next(0); return false;") Next
    ul.image_grid.columns-3
      li
        a#link1(href='')
          img#img1.fixed-ratio-resize(src=placeholder)
        h3#ttl1 Title
        p#auth1 Author(s)
      li
        a#link2(href='')
          img#img2.fixed-ratio-resize(src=placeholder)
        h3#ttl2 Title
        p#auth2 Author(s)
      li
        a#link3(href='')
          img#img3.fixed-ratio-resize(src=placeholder)
        h3#ttl3 Title
        p#auth3 Author(s)
      li
        a#link4(href='')
          img#img4.fixed-ratio-resize(src=placeholder)
        h3#ttl4 Title
        p#auth4 Author(s)
      li
        a#link5(href='')
          img#img5.fixed-ratio-resize(src=placeholder)
        h3#ttl5 Title
        p#auth5 Author(s)
      li
        a#link6(href='')
          img#img6.fixed-ratio-resize(src=placeholder)
        h3#ttl6 Title
        p#auth6 Author(s)

      br
      br

  script.
    var Image_Browser = (function () {
        function Image_Browser() {
            this.i = 0;
            this.comics = [];
        }
        Image_Browser.prototype.Load = function () {
            for (var n = 0; n < 6; n++) {
                console.log(n + " : " + this.comics);
                var link = "link" + (n + 1).toString();
                var linkEl = document.getElementById(link);
                var img = "img" + (n + 1).toString();
                var imgEl = document.getElementById(img);
                var ttl = "ttl" + (n + 1).toString();
                var auth = "auth" + (n + 1).toString();
                if (this.i + n >= this.comics.length){
                    console.log("fail" + this.comics.length);
                    console.log(this.comics)
                    linkEl.href = "";
                    //imgEl.src = "http://res.cloudinary.com/namehere/image/upload/v1456772897/placeholder_sgsh4n.png";
                    //document.getElementById(ttl).innerHTML = (this.i + n + 1).toString();
                    //document.getElementById(auth).innerHTML = "Author";
                    imgEl.src = "";
                    document.getElementById(ttl).innerHTML = "";
                    document.getElementById(auth).innerHTML = "";
                }
                else{
                  console.log("found comics: " + this.comics.length)
                  var c = (this.i + n)
                  var comic = this.comics[c];
                  console.log("getting comic " + c + " : ");
                  console.log(comic);
                  imgEl.src = comic.image;
                  document.getElementById(ttl).innerHTML = comic.title;
                  //var author = "";
                  //for(var m=0; m<this.comics[this.i].authors.length;m++){  //if
                  //  author = author + this.comics[this.i].authors[m];
                  //}
                  document.getElementById(auth).innerHTML = comic.author;
                  linkEl.href="/comic/" + comic._id; //make a default comic page, that loads given the ref id? and pass through the refid
                }
            }
        };
        Image_Browser.prototype.Prev = function () {
            this.i = this.i - 6;
            if (this.i < 0) {
                this.i = 0;
            }
            this.Load();
        };
        Image_Browser.prototype.Next = function () {
            if (this.comics.length >= this.i+6)
              this.i = this.i + 6;
              this.Load();
        };
        return Image_Browser;
      })();

      function Prev() {
          obj.Prev();
      }
      function Next() {
          obj.Next();
      }
      function Init(Comics) {
          console.log(Comics);
          if (obj) {
              obj.comics= Comics;
              obj.i = 0;
              obj.Load();
          }
          else {
              console.log("failed init");
          }
      }
      var login = document.getElementById('bttnlogin');
      var cancel_login = document.getElementById('bttncancel_login');
      var display = document.getElementById('bttnacclogin');
      var acc = document.getElementById('bttnaccount');
      var login_box = document.getElementById("login_box");
      var prev = document.getElementById('bttnprev');
      var next = document.getElementById('bttnnext');
      obj = new Image_Browser();
      cancel_login.onclick = function () {
          login_box.style.display = 'none';
      };
      display.onclick = function (req) {
          login_box.style.display = 'block';
      };
      acc.onclick = function () {
      };
      Init(!{comiclist});
