extends layout1

block title
  title profile
block content
    head
      style.
        #title {position:relative; margin-top:300px;}
        #upload {position:relative; margin-top:10px;}

    h1#title= title

    ul

        if (profile.username)
          img(src="#{profile.profilepic}", height="200")
          h2#text Username: #{profile.username}
          h3#text Friends: #{profile.friends}
          h3#text Favorites: #{profile.favourites}
          h3#text About Me:
          br
        if user
          if (user.username == profile.username)
            form(action='/editprofile', accept-charset='utf-8', method='POST')
              input(type='button', value = 'Edit Profile', onclick="window.location = 'editprofile';")
          if (user.username != profile.username)
              input(type='button', value = 'Add Friend')




block scripts
