extends layout1

block title
  title Workspace
block content
  head
    style.
      #title {position:relative;margin-top:300px;;}
      #text {position:relative;margin-top:10px;;}
      #div1 {width:1200px;height:440px;padding:10px;border:1px solid #aaaaaa;margin-top:10px;;position:relative;}
      .img {position:relative;margin-top:10px;;}
      ul#panels {
      list-style: none;
      margin: 0px;
      }
      ul#panels li{
      display: inline-block;
      padding: 5px;
      }
      ul#wspanels {
      list-style: none;
      margin: 0px;
      }
      ul#wspanels li{
      display: inline-block;
      padding: 5px;
      }
      ul#wsimages {
      list-style: none;
      margin: 0px;
      }
      ul#wsimages li{
      display: inline-block;
      padding: 5px;
      }
      .deleteMe{
          float: right;
          background: dark-grey;
      }
      .deleteMeAlt{
          float: right;
          background: dark-grey;
      }

  body
    h1#title= title
    p#text Drag your comic panels into the box:
    form#formPublish(name="publish",method="post",action="/publish")
      input#id(type="text", name="id", value=workspace._id, hidden)
      |               Title:
      input#inputtitle(type="text", placeholder="comic title", name="title", required, value=workspace.title)
      |               Author:
      input#inputauthor(type="text", placeholder="Author", value=workspace.author, name="author", required)
      br
      br
      |               Tags:
      input#inputtag1(type="text", placeholder="tag1", name="tag1")
      input#inputtag2(type="text", placeholder="tag2", name="tag2")
      input#inputtag3(type="text", placeholder="tag3", name="tag3")
      input#inputtag4(type="text", placeholder="tag4", name="tag4")
      br
      br
      |               Private:
      input#privacy(type="checkbox", name="privacy", value=workspace.privacy)
      br
      br
      input#length(type="text", disabled, name="length", value = workspace.length, size="3")
      input#_length(type="text", hidden, name="truelength", value = workspace.length, size="3")
      input#inc(type="button", value='+', onclick='addItem()')
      input#dec(type="button", value="-", onclick='remItem()')
      br
      br

      - var n = 0
      - var placeholder = "http://portfoliotheme.org/enigmatic/wp-content/uploads/sites/9/2012/07/placeholder1.jpg"
      ul#panels
        while n < workspace.length
          each panel, p in workspace.comic
            li
              img(src=panel, height="100", class="droppable")
              input(type='text', name='panels[]', hidden, value='panel')
              div(class="deleteMe") X
            -n++
          li
            img(src=placeholder, height="100", class="droppable")
            input(type='text', name='panels[]', hidden, value=placeholder)
            div(class="deleteMe") X
          -n++

      br
      button#save(type='button', value='Save', onclick='')  Save
      input#btnSubmit(type='submit', value='Publish')
      br
      br
    form#formAdd(name="addUser",method="post",action="/addContributor")
      input#wsid(type='text', name='adduserID', hidden)
      |               Add Contributor:
      select(name='friends', required)
        each friend, f in user.friends
          option(value='friend') #{friend}
      input#bttnAddAuth(type='submit', value='add')
    br
    br
    a(href='/delWorkspace/'+workspace._id)
      button#delete(type='button', value='Leave') Delete Workspace


    br
    br
    div(style="overflow-y:scroll; height:400px;")
      ul#wsimages
        each image, i in workspace.images
          li
            img(src=image, class="draggable", height="100")
            div(class="deleteMeAlt") X
    div(style="overflow-y:scroll; height:400px;")
      ul#wspanels
        each panel, p in workspace.panels
          li
            img(src=panel, class="draggable", height="100")
            div(class="deleteMeAlt") X

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
  script(src="//code.jquery.com/ui/1.11.2/jquery-ui.js")
  script.
    $(document).ready(function(){
      $(".deleteMe").on("click", function(){
        $(this).closest("li").find('img').attr('src', "http://portfoliotheme.org/enigmatic/wp-content/uploads/sites/9/2012/07/placeholder1.jpg");
      });
      $(".deleteMeAlt").on("click", function(){
        $(this).closest("li").remove();
      });
    });
    $(".draggable").draggable({
      helper: "clone",
      revert: "invalid"
    });
    $(".droppable").droppable({
      drop: function(event, ui) {
        $(this).attr("src", ui.draggable.attr("src"));
        $(this).closest("li").find('input').attr('value', ui.draggable.attr("src"));
      }
    });
    var list = document.getElementById('panels');

    function addItem(){
      document.getElementById("length").value++;
      document.getElementById("_length").value++;
      var n = document.getElementById("length").value;
      console.log(n);

      var li = document.createElement("LI");

      var img = document.createElement("img");
      img.src = "http://portfoliotheme.org/enigmatic/wp-content/uploads/sites/9/2012/07/placeholder1.jpg";
      img.height = "100";
      img.setAttribute("class", "droppable");

      var txt = document.createElement("input");
      txt.setAttribute("type", "text");
      txt.setAttribute("name", 'panels[]');
      console.log(txt.name);
      txt.setAttribute("hidden", true);

      var xdiv = document.createElement("div");
      xdiv.setAttribute("class", "deleteMe");
      xdiv.innerHTML = "X";

      li.appendChild(img);
      li.appendChild(txt);
      li.appendChild(xdiv);

      document.getElementById("panels").appendChild(li);
      $(".droppable").droppable({
        drop: function(event, ui) {
          $(this).attr("src", ui.draggable.attr("src"));
        }
      });
      $(".deleteMe").on("click", function(){
        $(this).closest("li").find('img').attr('src', "http://portfoliotheme.org/enigmatic/wp-content/uploads/sites/9/2012/07/placeholder1.jpg");
      });
    };

    function remItem(){
      if (document.getElementById("length").value > 1){
        document.getElementById("length").value--;
        document.getElementById("_length").value--;
        $('#panels li:last').remove();
      }
    };
